.skills_container {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

.skills_title {
  position: absolute;
  text-align: center;
}

.skills_div {
  background-color: yellow;
  height: 1000px;
  width: 100vw;
}
