.about_container {
    height: 100vh;
    background-color: blue;
    position: relative;
}

h1 {
    font-size: 30rem;
}

.header {
    position: relative;
}

.header_title {
    position: absolute;
    text-align: center;
}